@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    min-height: 100vh;
    background-color: rgb(1,151,218);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers the content */
    align-items: center;    /* Horizontally centers the content */
}


h1{
    color: white;
    text-align: center;


    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 55px;

    max-width: 1400px;

    /*Reducing the margin gap between h1 and p*/
    margin-bottom: 0px;
}

p{
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;

    max-width: 800px;

    padding: 5px;

    /*Reducing the margin gap between h1 and p*/
    margin-top: 0px;

    margin-bottom: 50px; /* Adjust this value (e.g., 10px, 30px) to change the size of the red-highlighted gap */

}


button {
    display: block;        
    padding: 20px 60px;    
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: 20px;   
    border: none;
    background-color: rgb(243,147,35);
    color: white;
    font-size: 32px;
    cursor: pointer;

}

a { /* remove hyperlink underline */
    text-decoration: none; 
}


.login-buttons  {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 120px;

}

.login-student button img,
.login-teacher button img {
    width: 300px;  
    height: 300px; 
    
    /* height: auto; */ 
    
    padding: 0;
    border: none;
}