@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 25px;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 151, 218, 1);
    position: fixed;    
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
}

.navbar .main_title,
.navbar .nav_items p{
    color: white;
}

.navbar .main_title{
    font-family: 'Quicksand', sans-serif;
    margin-left: 25px;
}

.nav_right{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 250px;
}

.navbar .nav_right .nav_items{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    align-items: center;
}

.navbar .nav_right .nav_items .forum_button{
    border-radius: 10px 10px 0 0;
    background-color:  rgb(243,147,35);
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.navbar .nav_right .nav_items .student_button{
    border-radius: 10px 10px 0 0;
    background-color:  rgba(0, 151, 218, 1);
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.navbar .nav_right .nav_items button p{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
}

.Lecturer_prof{
    display: flex;
    align-items: center;
}

.prof_pic {
    width: 65px;
    height: 65px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: 30px;
}

.prof_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    background-color: darkgray;
}

.main_content{
    padding-top: 80px;
}

.main_content .subject_text_space{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_content .subject_text_space .subject_text{
    margin-left: 30px;
    font-weight: 700;
    font-size:25px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.main_content .subject_text_space .class_add_forum{
    margin-right: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(243,147,35);
    margin-top: 5px;
}

.main_content .subject_text_space .class_add_forum p{
    margin: 8px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.lecturer_img{
    width: 85px;
    height: 85px;
}

.forums{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    border: solid;
    border-radius: 10px;
    align-items: center;
}

.forum_left{
    display: flex;
    gap: 75px;
    align-items: center;
}

.lec_profile{
    display: flex;
    gap: 30px;
    padding-left: 30px;
    padding-right: 75px;
    height: 100%;
    align-items: center;
    border: solid;
    border-radius: 10px;
}

.forums .flag_icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forums button{
    display: flex;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    background-color: white;
    border: none;
    margin-right: 30px;
}

.lec_name, .forum_content{
    font-size: 25px;
    font-weight: 700;
    margin: 5px;
}

.lec_subject{
    margin: 5px;
    color: gray ;
}








