@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/*removing the bullet, margins, and padding from the ul element */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(1,151,218);

    display: flex;
    align-items: center; 
}

a { /* remove hyperlink underline */
    text-decoration: none; 
}

.nav-brand{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 30px;

    padding: 14px 16px;
}

.nav-link{
    display: flex;
    margin-left: auto;
}


.active-link a{
    background-color: rgb(243,146,35);
    border-radius: 10px;
}


ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 30px;

    transition: background-color 0.2s ease; 
}


ul li a:hover {
    background-color: rgb(243,146,34);

    border-radius: 10px;
}





body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 25px;
}



.main_content{
    padding-top: 10px;
}

.main_content .subject_text a{
    margin-left: 30px;
    font-weight: 700;
    font-size:20px;
    text-decoration: none;
    color: black;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.middle_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
    height: 50px;
}


.filter_icon button{
    display: flex;
    justify-content: center;
    background-color: rgb(243,147,35);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border:  none;
    margin-right: 10px;
    margin-left: 30px;
    cursor: pointer;
    flex: 1;
}

.filter_icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search_section{
    display: flex;
    margin-right: 20px;
    height: 40px;
    border-radius: 10px;
    background-color: none;
    border-style: none;
    width: 100%
}

.search_section .search_bar{
    flex: 1;
    background-color: lightgray;
    border-style: none;
    outline: none;
}

.search_section .back_arrow button,
.search_section .search_icon button{
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: lightgray;
}

.search_section .search_icon button{
    border-radius: 0 10px 10px 0;
}

.search_section .back_arrow button{
    border-radius: 10px 0 0 10px;
}

.search_section .back_arrow img,
.search_section .search_icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
}


.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.card-btn {
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    font-size: 42px; 
    font-weight: 700;
    color: #000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.card-btn:active {
    transform: scale(0.98);
}

/* Colors */
.bg-pink { background-color: #f2dada; }
.bg-peach { background-color: #f8e4cc; }
.bg-yellow { background-color: #fcf6bd; }
.bg-cyan { background-color: #a0e7e5; }
.bg-green { background-color: #b4f8c8; }
.bg-lime { background-color: #dbebc0; }





