@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


body{
    min-height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

    margin: 0;
}

body::before{
    content: '';
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: 
        linear-gradient(rgba(0, 102, 148, 0.5)),
        url("../Assets/CampusBG.jpg");
    background-position: center center;
    background-size: cover;

    z-index: -1;
}

.StudentNav {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.StudentNav a {
    display: inline-block;
}

h1{
    color: white;
    text-align: center;


    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 55px;

    max-width: 1400px;

    /*Reducing the margin gap between h1 and p*/
    margin-bottom: 0px;
}

p{
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;

    max-width: 800px;

    padding: 5px;

    /*Reducing the margin gap between h1 and p*/
    margin-top: 0px;

    /*Gap from p to button*/
    margin-bottom: 50px; 


}


button {
    display: block;        
    padding: 20px 60px;    
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: 20px;   
    border: none;
    background-color: rgb(243,147,35);
    color: white;
    font-size: 32px;
    cursor: pointer;

}

a { /* remove hyperlink underline */
    text-decoration: none; 
}

/*custom properties for buttons in login2*/
.login-buttons  {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 120px;

}

/*custom properties for buttons in login2*/
.login-student button img,
.login-teacher button img {
    width: 300px;  
    height: 300px; 
        
    padding: 0;
    border: none;
}


