@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/*removing the bullet, margins, and padding from the ul element */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(1,151,218);

    display: flex;
    align-items: center; 
}

a { /* remove hyperlink underline */
    text-decoration: none; 
}

.nav-brand{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 30px;

    padding: 14px 16px;
}

.nav-link{
    display: flex;
    margin-left: auto;
}


.active-link a{
    background-color: rgb(243,146,35);
    border-radius: 10px;
}


ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 30px;

    transition: background-color 0.2s ease; 
}


ul li a:hover {
    background-color: rgb(243,146,34);

    border-radius: 10px;
}





body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 25px;
}




.main_content{
    padding-top: 10px;
}

.main_content .subject_text_space{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_content .subject_text_space .subject_text{
    margin-left: 30px;
    font-weight: 700;
    font-size:25px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.main_content .subject_text_space .class_add_forum{
    margin-right: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(243,147,35);
    margin-top: 5px;
}

.main_content .subject_text_space .class_add_forum p{
    margin: 8px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.student_img{
    width: 85px;
    height: 85px;
}

.forums{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    border: solid;
    border-radius: 10px;
    align-items: center;
}

.forum_left{
    display: flex;
    gap: 75px;
    align-items: center;
}

.student_profile{
    display: flex;
    gap: 30px;
    padding-left: 30px;
    padding-right: 75px;
    height: 100%;
    align-items: center;
    border: solid;
    border-radius: 10px;
}

.forums .flag_icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forums button{
    display: flex;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    background-color: white;
    border: none;
    margin-right: 30px;
}

.student_name, .forum_content{
    font-size: 25px;
    font-weight: 700;
    margin: 5px;
}






