@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    margin: 0;
    padding: 0;
}

.student-home {
    min-height: 100vh;
    background-color: rgb(255,255,255);
    
    /* Example: Change the layout from centered to standard document flow */
    display: block; 
    
    
    
}


/*removing the bullet, margins, and padding from the ul element */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(1,151,218);

    display: flex;
    align-items: center; 
}

a { /* remove hyperlink underline */
    text-decoration: none; 
}

.nav-brand{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 30px;

    padding: 14px 16px;
}

.nav-link{
    display: flex;
    margin-left: auto;
}


.active-link a{
    background-color: rgb(243,146,35);
    border-radius: 10px;
}


ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 30px;

    transition: background-color 0.2s ease; 
}


ul li a:hover {
    background-color: rgb(243,146,34);

    border-radius: 10px;
}



table {
    border-collapse: collapse;
    margin: 20px auto;
    background-color: rgb(217,217,217);
    border: 3px solid black;

    width: 90%;
}

th, td {
    border: 3px solid black;
    padding: 10px;
    text-align: center;

    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding: 15px;
}

th {
    background-color: rgb(151, 151, 151);
    color:  black;
}
